body{
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.con{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0  10px black;
    width: 400px;
    text-align: center;
}
#textarea{
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}